<a href="https://colab.research.google.com/github/ds4geo/ds4geo/blob/master/WS%202020%20Course%20Notes/Session%203.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Data Science for Geoscientists - Winter Semester 2020**
# **Session 3 - Pandas - 21st October 2020**

Last week we covered data handling and indexing using python's in-built list and dictionary objects. This week we will cover indexing using Pandas which builds directly upon list and dictionary indexing. This session is focused on practical example excercises, mostly with student submitted data (from assignment 1). After this session, you should feel comfortable handling data with Pandas as the basis for more advanced topics in future sessions.

# Part 3.1 - Review of plotting assignment - *Discussion*
We will review and discuss the assignment submissions from last week.
Students will review and discuss improvements to each other's plots/visualisations.

**General Feedback**
* Lots of ambitious visualisations!
* Everyone who submitted provided what was asked.
* Helpful to include "Open in Colab" button when saving to GitHub.
* Be liberal with comments. Consider both comments which explain what individual lines do (if they are not so simple they are obvious), but also comments for blocks indicating the purpose of several lines of code.
* Don't be afraid to use Text cells if appropriate (more in future assignments).
* Link to data in the public repository to avoid having expiring tokens and 404 errors (that's why I copied all the submitted data there).
* You are encouraged to look at the other submissions for ideas and coding examples. You can search the repository for particular code to see examples of a particular function, e.g. search for "geopandas" to see submissions which include the library geopandas.

**Highlights to show/discuss**
* https://github.com/ds4geo/ds4geo_ws2020/blob/master/Assignments/Session%202/Assigment_2_Christoph_Daxer.ipynb
* https://github.com/ds4geo/ds4geo_ws2020/blob/master/Assignments/Session%202/Assignment_2_Tim_Philipp.ipynb
* https://github.com/ds4geo/ds4geo_ws2020/blob/master/Assignments/Session%202/Assignment_2_JanaMolenaar.ipynb
* https://github.com/ds4geo/ds4geo_ws2020/blob/master/Assignments/Session%202/Assignment_2_Tanguy_Racine.ipynb
* https://github.com/ds4geo/ds4geo_ws2020/blob/master/Assignments/Session%202/Assignment_2_AnnaSieberer.ipynb
* https://github.com/ds4geo/ds4geo_ws2020/blob/master/Assignments/Session%202/Assignment_2_Patrick_Oswald.ipynb

**Good examples**
* Working with geospatial data:
 * https://github.com/ds4geo/ds4geo_ws2020/blob/master/Assignments/Session%202/Assigment_2_Christoph_Daxer.ipynb
 * https://github.com/ds4geo/ds4geo_ws2020/blob/master/Assignments/Session%202/Assignment_2_Tim_Philipp.ipynb
 * https://github.com/ds4geo/ds4geo_ws2020/blob/master/Assignments/Session%202/Assignment_2_Tanguy_Racine.ipynb
 * https://github.com/ds4geo/ds4geo_ws2020/blob/master/Assignments/Session%202/Assignment_2_AnnaSieberer.ipynb
* Pandas functionality:
 * "rolling" and "fillna": https://github.com/ds4geo/ds4geo_ws2020/blob/master/Assignments/Session%202/Assignment_2_Patrick_Oswald.ipynb
* Flow control:
 * https://github.com/ds4geo/ds4geo_ws2020/blob/master/Assignments/Session%202/Assignment_2_JanaMolenaar.ipynb
 * https://github.com/ds4geo/ds4geo_ws2020/blob/master/Assignments/Session%202/Assignment_2_Thomas_Klotz.ipynb
 * https://github.com/ds4geo/ds4geo_ws2020/blob/master/Assignments/Session%202/Assignment2_Andrea_Franco.ipynb
* Databases:
 * sqlite3: https://github.com/ds4geo/ds4geo_ws2020/blob/master/Assignments/Session%202/Assignment_2_Tanguy_Racine.ipynb
 * NetCDF4: https://github.com/ds4geo/ds4geo_ws2020/blob/master/Assignments/Session%202/Assigment_2_Christoph_Daxer.ipynb
* Other:
 * Stereonets: https://github.com/ds4geo/ds4geo_ws2020/blob/master/Assignments/Session%202/Assignment_2_Tanguy_Racine.ipynb

# Part 3.2 - Pandas indexing
As we've seen in previous weeks, we can easily select a column of a pandas DataFrame using `["column name"]` notation (i.e. just like dictionary indexing).

Pandas offers two approaches for more complex indexing of data rows and columns: iloc and loc.

See here: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html

iloc is purely integer based indexing, just like python lists.
loc is purely label based indexing which uses column names and the row index.

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

## 3.2.1 Pandas integer indexing (iloc)
We start with iloc as it is very similar to what we covered last week with lists. However, indexing by label (loc) is very often more useful, so we will cover loc (see below) in more detail than iloc.

**Integer row indexing**

Integer indexing of rows works exactly like python lists except adding `.iloc` between the object and the indexing brackets `[  ]`:

    dat.iloc[0] # first row of a dataframe
    dat.iloc[0:5] # first 5 rows of dataframe
    dat.iloc[-1] # last row of dataframe

**Integer row and column indexing**

You can select columns as well as rows by including a comma:

    dat.iloc[0, 0:5] # first row and first 5 columns
    dat.iloc[:, 2] # all rows and 3rd column
    dat.iloc[:, -1] # all rows and last column
    dat.iloc[-4:, 2:-2] # last 4 rows and 3rd to 2nd to last columns
    

https://doi.pangaea.de/10.1594/PANGAEA.922011?format=textfile

### 3.2.1.1 - Selecting single rows and ranges - NGRIP
Last week when plotting NGRIP and LR04 on the same plot, it is helpful to automatically determine the oldest date in the NGRIP data to automatically scale the plot axis limits.

**Task**

Load LR04 and NGRIP (see previous sessions) and print the age of the last (oldest) sample in each dataset. 

Also, select just the first 1000 rows of each dataset.

In [3]:
LR04 = pd.read_csv("https://raw.githubusercontent.com/ds4geo/ds4geo/master/data/timeseries/LR04stack.txt", sep="\t", header=3)
LR04.columns = ["Age", "d18O", "error"]
NGRIP = pd.read_csv("https://raw.githubusercontent.com/ds4geo/ds4geo/master/data/timeseries/NGRIP_chronology_20.tab", sep="\t", header=20)
NGRIP.columns = ["Age", "Depth", "Age_error", "d18O"]

In [4]:
LR04

         Age  d18O  error
0        0.0  3.23   0.03
1        1.0  3.23   0.04
2        2.0  3.18   0.03
3        3.0  3.29   0.03
4        4.0  3.30   0.03
...      ...   ...    ...
2110  5300.0  2.91   0.06
2111  5305.0  2.79   0.04
2112  5310.0  2.79   0.09
2113  5315.0  2.84   0.07
2114  5320.0  2.91   0.09

[2115 rows x 3 columns]

### 3.2.1.2 - Selecting ranges of rows and columns - New Hebrides lava
**Task**

Select just the element data from this lava geochemistry dataset (loaded below), and then just the first 10 samples.

In [5]:
nh = pd.read_csv("https://doi.pangaea.de/10.1594/PANGAEA.922011?format=textfile", sep="\t", header=105)

### 3.2.1.3 - Selecting ranges after sort - Alpine/Austrian Glacier Inventory

**Task**

Print the names of the top 5 glaciers in the dataset in terms of size. Consider using `pd.sort_values`.

Challenge: for the top 5 glaciers, print also their area in hectares, and proportion of the total area of the entire dataset.

In [6]:
glaciers = pd.read_csv("https://raw.githubusercontent.com/ds4geo/ds4geo/master/student_submitted_data/Giulia_Bertolotti/GI_4_2015/GI_4_2015.csv")

### 3.2.1.4 - Selecting values after sort - New Caledonia lava chemistry
**Task**

Using the same dataset as in 3.2.1.2 (above), print the "Area", and Rock type of the most Calcium rich lava.

In [8]:
nh = pd.read_csv("https://doi.pangaea.de/10.1594/PANGAEA.922011?format=textfile", sep="\t", header=105)

## 3.2.2 - Pandas label based indexing (loc)

Pandas also allows indexing based on the row or column labels. The row labels are known as the index.

When you load data, the index is usually just row numbers of the input file, but sometimes it is set automatically. Usually it is valuable to deliberately set the index to a useful column such as age, depth or distance.

Once this is done, indexing with `dat.loc[...]` allows selecting data based on the index values (i.e. not row numbers/integers) directly.

***EXAMPLES***

### 3.2.2.1 - Indexing by age vs depth - NGRIP

**Task**

Set the index of the NGRIP data to the age as shown below. Then select the period between 9 and 15 ka and plot the d18O to see the last deglaciation & Younger Dryas.

Do the same as above but setting the index to depth. Then select and plot the top 250 meters of the dataset.

In [9]:
NGRIP.index = NGRIP["Age"]

### 3.2.2.2 - Hekla tephra data - Un-ordered data
The index doesn't need to be unique. In some cases, setting an index to a category is a quick way to select different parts of an un-ordered dataset.

Consider this dataset of tephra chemistry from different eruptions of Hekla.

**Task**

Set the index to the eruption name and select just the element data for a particular eruption.

Challenge: calculate chemistry statistics for the selected eruption.

In [10]:
hekla = pd.read_csv("https://raw.githubusercontent.com/ds4geo/ds4geo/master/student_submitted_data/Giulia_Bertolotti/Hekla_Tephra_GIulia",sep="\t",decimal=",")

## 3.2.3 - Datetime based indexing

Pandas also allows columns with date/time data to be set as an index. If properly stored as pandas datetime data type, indexing based on datetime indexes allows extra functionality on top of the plain .loc system. For example:

    dat.loc["2015"] # select all data from year 2015
    dat.loc["2016-01"] # select all data from Jan 2016
    dat.loc["2018":] # select all data from 2018 onwards
    dat.loc["2018":"2019"] # select all data from 2018 until 2019 (inclusive)

### 3.2.3.1 - Rossalm weather data
The Rossalm dataset is the largest (as far as I can tell) student uploaded dataset/timeseries in the student submitted data repository.

If you run the first cell below, you'll see that the datetime column of the dataframe is type "object" instead of "datetime". Therefore, we first need to convert it to datetimes which Pandas recognises using pd.to_datetime (see below).

**Task**

Set the datetime column as the index of the Rossalm dataset.
Use indexing and aggregation functions (e.g. mean, max, min, etc. - `rossalm.loc["2016"].mean()`) to describe and explore several different parts of the dataset.

In [12]:
rossalm = pd.read_csv(r"https://raw.githubusercontent.com/ds4geo/ds4geo/master/student_submitted_data/Rossalm_HS_LT_LF_Tim_Philipp.csv")
rossalm.columns = ["datetime", "snow", "temp", "humid"]
rossalm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 324425 entries, 0 to 324424
Data columns (total 4 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   datetime  324425 non-null  object
 1   snow      324423 non-null  float64
 2   temp      324424 non-null  float64
 3   humid     324423 non-null  float64
dtypes: float64(3), object(1)
memory usage: 9.9+ MB

In [13]:
# Convert the datetime to "real" pandas datetime
rossalm["datetime"] = pd.to_datetime(rossalm.datetime)
rossalm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 324425 entries, 0 to 324424
Data columns (total 4 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   datetime  324425 non-null  datetime64[ns]
 1   snow      324423 non-null  float64
 2   temp      324424 non-null  float64
 3   humid     324423 non-null  float64
dtypes: datetime64[ns](1), float64(3)
memory usage: 9.9 MB

## 3.2.4 - Boolean indexing and Query
** Boolean Indexing**

Pandas loc and iloc indexing also accepts arrays of boolean values, i.e. `True` or `False`.

Boolean arrays can be created using comaprison operators (`== ,!=, >, >=, <, <=`) or their pandas method equivalents (`df.eq, df.ne, df.le, df.lt, df.ge, df.gt`). Examples using the hekla dataset are below.

Boolean arrays can be combined using logical operators (`&, |, ~`) or numpy logical functions (`np.logical_and, np.logical_or, np.logical_not, np.any, np.all`).

** Pandas Query**

Pandas also has a method called `.query` which allows similar selecting of data as boolean indexing. They are largely interchangable, but boolean indexing is preferred if it is pre-calculated and combined in complex ways. Query allows simpler syntax but is less flexible. It is worth being familiar with both approaches.

Examples of both boolean indexing and equivalent query selection are shown below.

### 3.2.4.1 - Hekla tephra data boolean indexing and query examples
Examples of boolean indexing and equivalent query selections are shown below.

In [ ]:
# Select a particular Eruption (e.g. if Eruption isn't the index)
hekla.loc[hekla["Eruption"] == "Hekla 4"]
hekla.query("Eruption == 'Hekla 4'")

In [ ]:
# Select rows with CaO greater than 5 and Na2O greater than 3
hekla.loc[(hekla["CaO"] > 5) & (hekla["Na2O"] > 3)]
hekla.query("CaO > 5 & Na2O > 3")

In [ ]:
# Select rows with K2O greater than 3 or Na2O greater than 5
hekla.loc[(hekla["K2O"] > 3) | (hekla["Na2O"] > 5)]
hekla.query("KaO > 3 | Na2O > 5")

###3.2.4.2 - Alpine lake data
The dataset includes metadata such as name, area, depth, etc. for lakes in and around the Alps.

**Tasks**
* List the lakes with a volume of > 10,000 km3.
* How many lakes in Switzerland are above 2,000 m elevation.
* List the top 5 lakes in terms of area whose average depth is below sea level.
* Compare the number, volume and total area of lakes in Austria vs Switzerland.
* Continue your own analysis. Report something you find interesting.

Try to do the above with both boolean indexing and `.query`.

In [ ]:
lakes = pd.read_csv("https://raw.githubusercontent.com/ds4geo/ds4geo/master/student_submitted_data/ChristophDaxer/Lakes_Alps_metadata.txt")

# 3.3 - Practicing flow control
Loops combined with if statements are a powerful tool which can be applied in many situations. In many cases in data analysis, there are alternative and more efficient ways to achieve something than loops, but their versatility means they are nevertheless important to master, and enable large and complex analyses to be repeated automatically.

The below excercises demonstrate a number of possible applications of loops and if statements relevant to data science.

## 3.3.1 Looping for loading or organising data
The following dataset contains several different temp-salinity depth profiles. We can use loops to separate the different profiles so we can split them into individual dataframes or groupings.

**Task 1**

Create a list of Dataframes, one for each profile. The profiles are identified by unique values in the "Event" column. You will need to use a for loop over the unique values in the Event column. Use `dat.unique()` on a column to get the unique values. Create a blank list and use `.append()` to add to it on each iteration of your loop. 

You have several options of how to select all data from each profile: 1. setting "Event" as the index, 2. using boolean indexing or 3. using the `dat.query()` method.

Note: there are other ways of achieving this other than loops. If you find one, feel free to use it, but also try using a loop.

In [95]:
kol_dat = pd.read_csv("https://raw.githubusercontent.com/ds4geo/ds4geo/master/student_submitted_data/Temp-Salinity-North%20of%20Iceland_Johanna_P%C3%B6ll.csv", sep=";", header=10)

In [ ]:
kol_dat["Event"].unique()

**Task 2**

You will see that the event names follow several patterns in terms of the first few characters (KN, B7, ALL, KB). Assume these profiles should be grouped on this basis. Make a series of lists, each one containing all the profiles associated with a certain naming pattern.

In [ ]:
# excercise: use If to split into several lists based on the name of the profile

In [ ]:
# Further excercises:
# Look at the following datasets. Split them as appropriate and plot them as above

## 3.3.2 Loops for analysing data
In a similar way to above, automatic splitting of the data also allows statistics on each split to be calculated.

The dataset below contains data on leaves of different trees around Innsbruck.

**Task**

For each tree species (type), print the average leaf length, width and leaf-width ratio.

Your loop should be similar to that in 3.3.1 except with the statistical calculations and print instead of `.append()`

In [ ]:
leaves = pd.read_csv("https://raw.githubusercontent.com/ds4geo/ds4geo/master/student_submitted_data/ChristophDaxer/Leaves_2013.csv",encoding = 'unicode_escape')

## 3.3.3 Loops for plotting data
Loops also allow automation (in a tidy way) of complicated visualisations. For example, plotting different parts of a dataset in different styles/colours.

**Task 1**

Make a scatter plot of FeO vs Na2O for the hekla dataset from 3.2.2.2.
Plot each eruption as a different colour.

In [ ]:
hekla

**Task 2**

Plot each year of the Rossalm (see 3.2.3.1) dataset overlapping on a single x axis. Find a way to plot the data to clearly show the year 2018 and how it compares in general to other years.

In [ ]:
rossalm

# 3.4 - For those wanting a challenge - *Optional*
These tasks are intended to be challenging and little assistance is given. Pick either task.

**Task A - Geological summary of the Bundeslande**

Create a visualisation indicating the proportion of each Austrian federal state covered by particular types of geology.

A geological map of Austria can be accessed here: https://gis.geologie.ac.at/inspire/download/ge200_einheiten_epsg4258.zip

See also: https://gis.geologie.ac.at/inspire/download/DownloadServiceFeed.xml

Files containing administrative regions, including Bundesland level available here:
http://gisco-services.ec.europa.eu/distribution/v2/nuts/download/ref-nuts-2021-03m.geojson.zip

You can download these files using `!wget` and then `!unzip` and load them using geopandas. You can install geopandas simply with `!pip install geopandas`.

See also the following assignment submission with examples of the above: https://github.com/ds4geo/ds4geo_ws2020/blob/master/Assignments/Session%202/Assignment_2_Tim_Philipp.ipynb

**Task B - Summary of the geology of Austrian wines**

Determine the proportion of Austria's vineyards lying on different bedrock types and visualise the results

See above for geological map and how to download and load the data.

A shapefile of all vineyards in Austria is available here: https://github.com/ds4geo/ds4geo/blob/master/data/geospatial/AT_wine/AT_wine.zip?raw=true

# 3.5 - Week 3 Assignment

Data contains hidden stories. Part of data science (arguably quantitative science in general!) is to find and tell those stories. Jupyter notebooks provide a perfect tool for data story-telling in allowing text, images, code and code results (e.g. plots) to be combined.

**Task**

Create a Jupyter notebook where you tell the story of what it is like to live in 2 different cities in terms of the weather. Pick 2 from Innsbruck, London, Sydney, Tehran and Singapore.
* Daily weather data for these cities for 2015 to 2019 is provided (see below).
* You should not use any source of information (including personal experience) other than the data provided and your analysis of it.
* You are free to tell the story as you wish in terms of content and style. Your audience is the other course participants.
* Do not just summarise the data, tell a story. You do not need to use all of the available data.
* Length depends on how one tells the story, but including 10 lines of code is too short, and 100 is too long.
* Use Pandas to handle and analyse the data. Use the built in help, online Pandas help docs, and google to figure out how to perform your analysis. Note down anything you wish to do but cannot figure out how to do.
 * Hint: .groupby(), .mean(), .sum(), .count(), etc. will be useful!

**Data**

Pandas readable csv files are located here:
* Innsbruck:
 * Readable: https://github.com/ds4geo/ds4geo/blob/master/data/timeseries/meteo/Innsbruck_weather_2015-19.csv
  * Raw: https://raw.githubusercontent.com/ds4geo/ds4geo/master/data/timeseries/meteo/Innsbruck_weather_2015-19.csv
* London:
 * Readable: https://github.com/ds4geo/ds4geo/blob/master/data/timeseries/meteo/London_weather_2015-19.csv
  * Raw: https://raw.githubusercontent.com/ds4geo/ds4geo/master/data/timeseries/meteo/London_weather_2015-19.csv
* Sydney:
 * Readable: https://github.com/ds4geo/ds4geo/blob/master/data/timeseries/meteo/Sydney_weather_2015-19.csv
  * Raw: https://raw.githubusercontent.com/ds4geo/ds4geo/master/data/timeseries/meteo/Sydney_weather_2015-19.csv
* Tehran:
 * Readable: https://github.com/ds4geo/ds4geo/blob/master/data/timeseries/meteo/Tehran_weather_2015-19.csv
  * Raw: https://raw.githubusercontent.com/ds4geo/ds4geo/master/data/timeseries/meteo/Tehran_weather_2015-19.csv
* Singapore:
 * Readable: https://github.com/ds4geo/ds4geo/blob/master/data/timeseries/meteo/Singapore_weather_2015-19.csv
  * Raw: https://raw.githubusercontent.com/ds4geo/ds4geo/master/data/timeseries/meteo/Singapore_weather_2015-19.csv

The data was downloaded from https://rp5.ru/ and pre-processed from hourly to daily data.


**Submission**
* Submit the assignment here: https://github.com/ds4geo/ds4geo_ws2020/tree/master/Assignments/Session%203
* Create a new Colab notebook via Google Drive, then save it to the submission repository using "save a copy to GitHub". See here:
 * https://github.com/ds4geo/ds4geo/blob/master/Github%20Assignment%20Readme.md
* The **deadline** is 23:59 on 3rd November 2020.
* This assignment comprises 5% of the assessment for the course. Marks are awarded for clear, effective and interesting data driven story telling.

Submitted notebooks will be available to the whole class, and will be discussed in session 4. The assignment to session 5 will build upon this assignment.